/* Thiet lap cac style cho phan khung hien thi thong bao */
.announcement {
  background-color: #3379ab63;
  width: 100%;
  height: 100px;
  color: #182e5c;
  padding: 10px;
}

.announcementTitle {
  font-weight: 500;
  font-size: 24px;
  color: #182e5c;
  margin-bottom: 20px;
}

.announcementContent {
  font-weight: 400;
  font-size: 16px;
  color: #182e5c;
  line-height: 1.5;
}
/* Thiết lập một số style mặc định cho các phần tử */
.hotelWrapper {
  width: 100%; /* Chiều rộng của hotelWrapper */
  max-width: 1000px; /* Giới hạn chiều rộng tối đa */
  margin: 0 auto; /* Canh giữa hotelWrapper */
  padding: 20px; /* Đệm bên trong hotelWrapper */
  display: flex;
  justify-content: center;
}

.hotelTitle {
  font-weight: 600;
  font-size: 30px;
  color: #182e5c;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 16%;
}

.infor {
  display: flex;
  margin-bottom: 25px;
  margin-left: 16%;
}

.inforIcon {
  margin-right: 10px;
  font-size: 20px;
  color: #182e5c;
}

.inforText p {
  font-weight: 450;
  font-size: 20px;
  color: #182e5c;
  margin-bottom: 10px;
}

.inforText span {
  font-weight: 400;
  font-size: 18px;
  color: #182e5c;
}

.Viewinfor {
  display: flex;
  margin-bottom: 20px;
  border: #182e5c 1px solid;
  border-radius: 10px;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
  color: #182e5c;
  font-weight: 500;
  font-size: 18px;
  height: 70px;
  align-items: center;
}

.Viewinfor .ViewinforIcon {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 20px;
}

.Viewinfor div {
  width: 100%;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 800px;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.3;
  color: #182e5c;
}

.closeButton {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  height: 40px;
  text-align: center;
}

.popup-content h2 {
  color: #182e5c;
  font-size: 20px;
  margin-bottom: 10px;
}

.popup-content h3 {
  margin-top: 35px;
  font-size: 17px;
  margin-bottom: 10px;
}
.popup-content ul {
  padding-left: 20px;
}
.popup-content ul li {
  margin-bottom: 10px;
}
.bookNow {
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  height: 40px;
  text-align: center;
}
.bookNow a {
  text-decoration: none;
  color: white;
}
.hotelImages {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 16%;
  margin-right: 16%;
}

.hotelImgWrapper {
  position: relative;
}

.hotelImg {
  width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.3s;
}

.hotelImg:hover {
  transform: scale(1.05);
}
