.posting_container {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
  top: 10%;
  left: 10%;
}

.booking-title {
  border-bottom: 1px solid rgb(141, 135, 135);
  padding-bottom: 15px;
  color: #16056b;
  font-size: 24px;
  font-weight: 100px;
}

.form-section {
  margin: 20px;
  padding: 10px;
  width: 550px;
}

.form-section label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #16056b;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  color: #646466;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-control:focus {
  border-color: #66afe9;
  outline: none;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

.court-list {
  margin-top: 20px;
}

.court-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.court-option p {
  margin: 0;
  font-size: 16px;
}

.btn {
  padding: 8px 16px;
  font-size: 14px;
  border: 1px solid #007bff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #007bff;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #ffffff;
  color: #007bff;
}

.btn-secondary {
  background-color: #ffffff;
  color: #007bff;
}

.btn-secondary:hover {
  color: #4998ec;
  border: 1px solid #4998ec;
}

.booking-summary {
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: #9c9ca0 0 1px 1px;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 600px;
  position: relative;
}

.booking-summary h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #16056b;
  font-weight: 100px;
}

.booking-summary p {
  margin: 13px 0;
  font-size: 16px;
  color: #16056b;
}

.booking-summary .form-group {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

.booking-summary .form-group label {
  margin-right: 10px;
  font-size: 16px;
  color: #333;
}

.booking-summary .form-group input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  flex: 1;
}

.booking-summary .btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.total {
  border-bottom: 1px solid rgb(141, 135, 135);
  padding-bottom: 15px;
}

#bookBtn {
  margin-left: 25px;
  left: 0;
  right: 0;
  width: 90%;
  position: absolute;
  bottom: 10px; /* Adjust the distance from the bottom */
}
.img-fluid {
  max-width: 100%;
  width: 30%;
  height: auto;
  border-radius: 5px;
}
.court-image {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.booking-summary h2 {
  display: flex;
  justify-content: center;
}
