.homeContainer {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.searchItem {
    width: 900px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-bottom: 20px;
    border: 1px solid lightgray;
}

.siImg {
    margin-top: 5px;
    border-radius: 20px;
    width: 150px;
    height: 150px;
}

.siDesc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2;
}

.siTitle {
    font-size: 32px;
    font-weight: 600;
    line-height: 37px;
}

.siDistance {
    font-size: 12px;
}

.siTaxiOp {
    font-size: 12px;
    background-color: #008009;
    color: white;
    width: max-content;
    padding: 3px;
    border-radius: 5px;
}

.siDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.siRating {
    display: flex;
}
.siValue {
    margin-top: 5px;
}
.siRating > span {
    font-weight: 500;
}
.siRating > button {
    background-color: #003580;
    color: white;
    padding: 5px;
    font-weight: bold;
    border: none;
}

.siDetailTexts {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.siTaxOp {
    font-size: 12px;
    color: gray;
}
.siCheckButton {
    margin-top: 10px;
    text-decoration: none;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    padding: 15px 10px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}

/* Table */
.table-container {
    margin-top: 20px;
    width: 900px; /* Center the table horizontally */
}
.table {
    /* font-family: Arial, Helvetica, sans-serif; */
    width: 100%;
    margin: 0 auto;
    font-weight: 500;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 20px;
    overflow: hidden;
}

td,
th {
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 20px;
    text-align: center;
    background-color: #85c1e9;
    color: white;
}
.tb_new {
    background-color: rgb(220, 91, 91);
    text-align: center;
    margin-left: 20px;
    padding: 6px 6px;
    border-radius: 5px;
}
.tb_btn {
    background-color: #0071c2;
    font-weight: bold;
    padding: 16px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
}
.tb_link {
    text-decoration: none;
    color: white;
}
.itemStatus-active {
    color: #000000;
}

.itemStatus-inactive {
    color: gray;
    text-decoration: line-through;
}
