.btn-cancel {
    background: #ff4742;
    border: 1px solid #ff4742;
    border-radius: 999px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    /* font-family: nunito, roboto, proxima-nova, 'proxima nova', sans-serif; */
    font-size: 18px;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 16px 20px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}
.btn-cancel:hover,
.btn-cancel:active {
    background-color: initial;
    background-position: 0 0;
    color: #ff4742;
}

.btn-cancel:active {
    opacity: 0.5;
}
