.body-container {
    /* height: 110vh; */
    display: grid;
    place-content: center;
}

.container {
    position: sticky;
    width: 850px;
    height: 800px;
    box-shadow: 25px 30px 55px #5557;
    border-radius: 13px;
    overflow: hidden;
    margin: 20px 0;
}
.form-box-container {
    position: absolute;
    width: 60%;
    height: 100%;
    padding: 0px 40px;
    transition: all 0.6s ease-in-out;
}

.sign-up-container {
    opacity: 0;
    z-index: 1;
}

.sign-in-container {
    z-index: 2;
}

.sign-in-up-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
}

.sign-up-title {
    color: #141e30;
    font-size: 2.4rem;
    font-weight: bolder;
}

.social-container {
    margin: 15px 0;
}

.social-container .social {
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.introduce {
    font-size: 16px;
}
.infield {
    position: relative;
    margin: 8px 0;
    width: 100%;
    /* display: flex; */
}
.infield-text {
    display: flex;
    position: relative;
    width: 100%;
}
.input-infield {
    width: 100%;
    padding: 12px 8px;
    background-color: #f3f3f3;
    border: none;
    outline: none;
}

.input__label-field {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background: linear-gradient(to right, #141e30, #243b55);
    transition: 0.3s;
}

.input-infield:focus ~ .input__label-field {
    width: 100%;
}
.error-box {
    padding: 0.5rem;
}
.error-message {
    color: red;
}
.forgot {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
    padding-bottom: 3px;
    border-bottom: 2px solid #eee;
}

.btn-form {
    border-radius: 20px;
    border: 1px solid #141e30;
    background: #243b55;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.form-box-container .btn-form {
    margin-top: 17px;
    transition: 80ms ease-in;
}

.form-box-container .btn-form:hover {
    cursor: pointer;
    background-color: #fff;
    color: #141e30;
}

.overlay-container {
    position: absolute;
    top: 0%;
    left: 60%;
    width: 40%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 9;
}

#overlayBtn {
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 456px;
    transform: translateX(-50%);
    width: 143.67px;
    height: 40px;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 20px;
}

.overlay {
    position: relative;
    background: linear-gradient(to right, #141e30, #243b55);
    color: #fff;
    left: -150%;
    height: 100%;
    width: 250%;
    transition: transform 0.6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    text-align: center;
    height: 100%;
    width: 340px;
    transition: 0.6s ease-in-out;
}

.overlay-left {
    right: 60%;
    transform: translateX(-12%);
}

.overlay-right {
    right: 0;
    transform: translateX(0%);
}
.overlay-panel .intro-title {
    color: #fff;
}
.overlay-panel h1 {
    color: #fff;
}

.intro-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 25px 0 35px;
}

.overlay-panel .btn-form {
    border: none;
    background-color: transparent;
}

.right-panel-active .overlay-container {
    transform: translateX(-150%);
}

.right-panel-active .overlay {
    transform: translateX(50%);
}

.right-panel-active .overlay-left {
    transform: translateX(25%);
}

.right-panel-active .overlay-right {
    transform: translateX(50%);
}

.right-panel-active .sign-in-container {
    transform: translateX(20%);
    opacity: 0;
}

.right-panel-active .sign-up-container {
    transform: translateX(66.7%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6ms;
}
