/* styles.css */
.payment-result {
    margin: 50px auto;
    max-width: 500px;
    text-align: center;
  }
  
  .payment-result .alert {
    padding: 20px;
    border-radius: 5px;
  }
  
  .payment-result .alert h4 {
    margin-bottom: 15px;
  }
  