.userprofile {
  display: flex;
  flex-direction: column;
  height: auto;
}
.userprofilein {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 10vh;
  gap: 20px;
  height: auto;
}
.userprofile .userprofilein .left {
  width: 20%;
  /* background-color: aqua; */
  padding: 40px;
  border-radius: 5px;
  min-height: 50vh;
  height: 60vh;
  border-radius: 30px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px,
    rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.userprofile .userprofilein .right {
  width: 60%;
  /* background-color: aqua; */
  padding: 40px;
  border-radius: 5px;
  max-width: 110vh;
  height: auto;
  min-height: 50vh;
  border-radius: 30px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px,
    rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.usersidebar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.userprofile .user-item {
  padding: 20px 10px;
  text-align: center;
  justify-content: center;
  border-radius: 50px;
}
.user-active {
  background-color: rgb(58, 157, 223);
  border-radius: 50px;
}
.profile-title {
  font-weight: 500;
  line-height: 23px;
  font-size: 28px;
}
