/* General Styles */
.search-result-content {
    height: 200vh;
}

.columns-right {
    position: relative;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

.width-full {
    width: 100%;
    width: 58.3333333333%;
}

.search-result-card-list {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
}

.result-card-wrapper {
    margin-bottom: 1rem;
}

.result-card-wrapper a {
    text-decoration: none;
    color: black;
}

.result-card {
    display: flex;
    position: relative;
    flex-direction: row;
    box-shadow: 0 0.0714285714rem 0.2142857143rem 0 rgba(0, 0, 0, 0.2);
    background: #fff;
    height: 10rem;
}

.result-card--photo {
    width: 14rem;
    position: relative;
    height: 10rem;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    text-align: center;
    background-size: cover;
    background-position: center;
    font-size: 18px;
}

.result-card--info {
    position: relative;
    padding: 0.625rem 0.625rem 0;
    flex: 1 40%;
    line-height: 1.5;
}

.title-h2 {
    font-size: 1.5rem;
    margin-bottom: 3px;
    font-weight: bolder;
    line-height: 1.15;
    margin-top: 0.2rem;
}

.result-card--info_location {
    font-size: 1.85rem;
}

.ResultListPage_content {
    padding-top: 20px;
}

.pb-3 {
    padding-bottom: 12px;
}

.ItemListWrapper_reponsive {
    margin: 0 max(20px, calc(100% - 980px) / 2);
}

.relative {
    position: relative;
}

.min-h-screen {
    min-height: 100vh;
}

.pt-1 {
    padding-top: 4px;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.gap-y-2 {
    row-gap: 20px;
}

.rounded-md {
    border-radius: 12px;
}

.shadow-nux-15 {
    box-shadow: 0 0 transparent, 0 0 transparent, 0 0 transparent, 0 0 transparent, 0 4px 16px 0 rgba(0, 0, 0, 0.15);
}

.text-grey-900 {
    --tw-text-opacity: 1;
    color: rgba(10, 17, 33, var(--tw-text-opacity));
}

.bg-white {
    background-color: #fff;
}

.p-4 {
    padding: 1rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.w-full {
    width: 100%;
}

.h-48 {
    height: 12rem;
}

.court-card {
    width: calc(33.333% - 1rem); /* 3 cards per row with some gap */
    margin: 0.5rem;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
