* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.background {
  width: 100%;
  height: 100vh;
  background-image: url(https://img.freepik.com/free-photo/lovely-sport-composition-with-badminton-elements_23-2147913669.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1721001600&semt=ais_user);
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.bookingSummary {
  background: linear-gradient(#4facfe,#00f2fe);
  border-radius: 8px;
  height: 14%;
  padding-top: 10px;
}
.bookingSummary h1 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}
.bookingSummary h2 {
  font-size: 17px;
  color: #707d84;
  text-align: center;
}
.bookingInfo {
  padding: 20px;
  margin: auto;
}
.bookingInfo h2 {
  color: #707d84;
  font-size: 17px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.bookingInfo h1 {
  font-size: 24px;
  font-weight: bold;
}

.checkout_Wrapper {
  width: 30%;
  margin-left: 36%;
  height: 680px;
  border: 1px solid rgba(70, 184, 255, 1);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  top: 10%;
}
.Cancel-booking button {
  margin: 10px;
  font-size: 15px;
  padding: 15px;
  border-radius: 5px;
  background-color: red;
  color: white;
  border: none;
}

.Cancel-booking {
  margin-top: 20px;
}
