.bookingSummary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  background-color: #b4e4fe;
  border-radius: 20px;
}
.bookingSummary h1 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}
.bookingSummary h2 {
  font-size: 17px;
  margin-bottom: 10px;
  color: #707d84;
}
.bookingInfo {
  display: flex;
  flex-direction: column;
}
.bookingInfo h2 {
  color: #707d84;
  font-size: 17px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.bookingInfo h1 {
  font-size: 24px;
  font-weight: bold;
}

.checkout_Wrapper {
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 20px;
}
.Cancel-booking button {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(242, 65, 65);
  color: white;
}
