.tradeWapper {
    width: 1024px;
    height: 680px;
    border-radius: 25px;
    align-items: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px,
        rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.tradeCard {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.tradeWapper,
title {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.img-trade {
    width: 100%;
    border-radius: 25px;
    margin-bottom: 10px;
}
.tradeCard,
h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}
.tradeCard h1 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
}
.tradeTime {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.formTrade,
.formTradeTitle {
    font-size: 16px;
    font-weight: 500;
}
.form-control {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #333;
}
.btn-confirmTrade {
    margin-top: 30px;
}

/* CSS BUTTON TEMPLATE */
.button-6 {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    /* font-family: system-ui, -apple-system, system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif; */
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button-6:hover,
.button-6:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
    transform: translateY(-1px);
}

.button-6:active {
    background-color: #3b7fd7;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}
