.create-time-share {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.dialog-content {
    padding: 1rem;
}

.form-field {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-field label {
    width: 80px;
}

.dialog {
    /* max-width: 400px; */
}
